<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">

	<resultMap type="commentVo" id="commentMap">

		<result property="reviewCmtNo" column="review_cmt_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="reviewNo" column="review_no"/>
		<result property="reviewCmtTxt" column="review_cmt_txt"/>
	</resultMap>

	<select id="commentSelectOne" resultMap="commentMap" parameterType="_int">
		SELECT *
		FROM review_cmt
		<where>
			review_cmt_no = #{reviewCmtNo}
		</where>
	</select>
	
	<select id="commentSelect" parameterType="commentVo" resultMap="commentMap">
		SELECT *
		FROM review_cmt
	</select>

	<insert id="commentCreate" parameterType="commentVo" useGeneratedKeys="true" keyProperty="reviewCmtNo">
		INSERT INTO review_cmt(account_no ,review_no ,review_cmt_txt)
		VALUES (#{accountNo} ,#{reviewNo} ,#{reviewCmtTxt})
	</insert>
	
	<update id="commentUpdate" parameterType="commentVo" useGeneratedKeys="true" keyProperty="reviewCmtNo">
		UPDATE `review_cmt`
		SET `review_cmt_txt` = #{reviewCmtTxt}
		<where>
			review_cmt_no = #{reviewCmtNo}
		</where>
		
	</update>
	
	<delete id="commentDelete" parameterType="_int">
		DELETE FROM `review_cmt`
		<where>
			review_cmt_no = #{reviewCmtNo}
		</where>
	</delete>
	
</mapper>