<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="klassMapper">

	<resultMap type="klassVo" id="klassMap">
		<!-- 
			컬럼명과 필드명을 1대1로 써준다.
		 	vo의 필드명과 테이블의 컬럼명이 다르기 때문에 맞춰즌 것!
		 -->
		<result property="klassNo" column="klass_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="klassName" column="klass_name"/>
		<result property="klassAddress" column="klass_address"/>
		<result property="klassPrice" column="klass_price"/>
		<result property="klassMax" column="klass_max"/>
		<result property="klassStatus" column="klass_status"/>
		<result property="klassTxt" column="klass_txt"/>
		<result property="accountNickname" column="account_nickname"/>
		<result property="klassRegDate" column="klass_reg_date"/>
		<result property="klassModDate" column="klass_mod_date"/>
	</resultMap>
	
	<resultMap type="klassDateVo" id="klassDateMap">
		<result property="klassDateNo" column="klass_date_no"/>
		<result property="klassNo" column="klass_no"/>
		<result property="klassStart" column="klass_start"/>
		<result property="klassEnd" column="klass_end"/>
		<result property="klassCount" column="klass_count"/>
	</resultMap>
	
	<resultMap type="klassAttachVo" id="klassAttachMap">
		<result property="attachNo" column="attach_no"/>
		<result property="attachOri" column="attach_ori"/>
		<result property="attachNew" column="attach_new"/>
		<result property="attachPath" column="attach_path"/>
	</resultMap>
	
	<resultMap type="klassMappingVo" id="klassMappingMap">
		<result property="mappingNo" column="mapping_no"/>
		<result property="klassNo" column="klass_no"/>
		<result property="attachNo" column="attach_no"/>
	</resultMap>
	
	<insert id="klassMappingCreate" parameterType="klassMappingVo"  useGeneratedKeys="true" keyProperty="mappingNo">
		INSERT INTO `klass_mapping`(klass_no ,attach_no)
		VALUES (#{klassNo} ,#{attachNo})
	</insert>
	
	<insert id="klassAttachCreate" parameterType="klassAttachVo" useGeneratedKeys="true" keyProperty="attachNo">
		INSERT INTO `klass_attach`(attach_ori, attach_new ,attach_path)
		VALUES (#{attachOri} ,#{attachNew}, #{attachPath})
	</insert>
	
	<insert id="klassDateCreate" parameterType="klassDateVo" useGeneratedKeys="true">
		 INSERT INTO klass_date (klass_no, klass_start, klass_end, klass_count)
  		 VALUES (#{klassNo}, #{klassStart}, #{klassEnd}, 0)
	</insert>
		
	<insert id="klassCreate" parameterType="klassVo" useGeneratedKeys="true" keyProperty="klassNo">
		INSERT INTO `klass`(account_no ,klass_name ,klass_address ,klass_max ,klass_price ,klass_txt ,klass_reg_date ,klass_mod_date)
		VALUES(#{accountNo} ,#{klassName} ,#{klassAddress} ,#{klassMax} ,#{klassPrice} ,#{klassTxt} ,#{klassRegDate} ,#{klassModDate})
	</insert>
	
	<update id="klassUpdate" parameterType="klassVo" useGeneratedKeys="true" keyProperty="klassNo">
	 	UPDATE `klass`
	 	SET klass_name = #{klassName}
	 		,klass_max = #{klassMax}
	 		,klass_price = #{klassPrice}
	 		,klass_txt = #{klassTxt}
	 	WHERE klass_no = #{klassNo}	
	</update>
	
 	<delete id="klassDelete" parameterType="_int">
		DELETE FROM `klass`
		<where>
			klass_no = ${klassNo}
		</where>
	</delete>
 	
	<select id="klassList" resultMap="klassMap" parameterType="klassVo">
		SELECT k.* ,a.account_nickname
		FROM `klass` k
		JOIN `account` a
		ON k.account_no = a.account_no
		JOIN `approve` p ON k.klass_no = p.klass_no
		<where>
				AND	p.approve_code = 'A'
			<if test='searchType != null and searchType.equals("0") == false and searchType.equals("1")'>
				AND k.klass_name LIKE CONCAT('%' ,#{searchTxt} ,'%')
			</if>
			<if test='searchType != null and searchType.equals("0") == false and searchType.equals("2")'>
				AND a.account_nickname LIKE CONCAT('%' ,#{searchTxt} ,'%')
			</if>
			<if test='searchType != null and searchType.equals("0") == false and searchType.equals("3")'>
				AND k.klass_txt LIKE CONCAT('%' ,#{searchTxt} ,'%')
			</if>
		</where>
		<if test='orderType != null and orderType.equals("x") == false'>
			<choose>
				<when test='orderType.equals("a") == true'>
					ORDER BY k.klass_reg_date DESC
				</when>
				<otherwise>
					ORDER BY k.klass_reg_date ASC
				</otherwise>
			</choose>
		</if>
	</select>
	
	<select id="klassOne" resultMap="klassMap" parameterType="_int">
		SELECT k.* ,a.account_nickname			
		FROM `klass` k
		JOIN `account` a
		ON k.account_no = a.account_no
	<where>
		AND k.klass_no = #{klassNo}
	</where>	
	</select>
	
	<select id="klassAttachList" resultMap="klassAttachMap" parameterType="_int" resultType="klassAttachVo">
		SELECT a.*
		FROM `klass_attach` a
		JOIN `klass_mapping` m
		ON a.attach_no = m.attach_no
	<where>
		AND m.klass_no = #{klassNo}
	</where>	
	</select>
	
	<select id="klassDateList" resultMap="klassDateMap" parameterType="_int" resultType="klassDateVo">
		SELECT d.*
		FROM `klass_date` d
		JOIN `klass` k
		ON d.klass_no = k.klass_no
	<where>
		AND d.klass_no = #{klassNo}
	</where>
	</select>
	
	<select id="attachOne" resultMap="klassAttachMap" parameterType="_int">
		SELECT *
		FROM `klass_attach`
		WHERE attach_no = #{attachNo}
	</select>
	
</mapper>