<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<resultMap type="klassVo" id="mypageMap">
		<result property="klassNo" column="klass_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="klassName" column="klass_name"/>
		<result property="klassAddress" column="klass_address"/>
		<result property="klassPrice" column="klass_price"/>
		<result property="klassMax" column="klass_max"/>
		<result property="klassStatus" column="klass_status"/>
		<result property="klassTxt" column="klass_txt"/>
		<result property="accountNickname" column="account_nickname"/>
		<result property="klassRegDate" column="klass_reg_date"/>
		<result property="klassModDate" column="klass_mod_date"/>
		<result property="approveCode" column="approve_code"/>
	</resultMap>
	<resultMap type="reviewVo" id="reviewMap">
		<result property="reviewNo" column="review_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="resNo" column="res_no"/>
		<!-- <result property="klassDateNo" column="klass_date_no"/> -->
		<result property="reviewTxt" column="review_txt"/>
		<result property="reviewName" column="review_name"/>
		<result property="accountNickName" column="account_nickname"/>
		<result property="reviewRegDate" column="review_reg_date"/>
		<result property="reviewModDate" column="review_mod_date"/>
		<result property="orderType" column="order_type"/>
	</resultMap>
	<resultMap type="klassLikeVo" id="klassLikeMap">
		<result property="klassLikeNo" column="klass_like_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="klassNo" column="klass_no"/>
		<result property="klassName" column="klass_name"/>
	</resultMap>
	<resultMap type="reviewLikeVo" id="reviewLikeMap">
		<result property="reviewLikeNo" column="review_like_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="klassNo" column="klass_no"/>
		<result property="reviewName" column="review_name"/>
	</resultMap>
	
	<!-- approve 테이블 -> 내가 올린 클래스 중에서 승인,대기,반려(A,S,D)인 클래스 조회 -->
	<select id="approveKlassListSearch" resultMap="mypageMap" parameterType="klassVo">
		SELECT k.* ,a.account_nickname ,p.approve_code
		FROM `klass` k
		JOIN `account` a
		ON k.account_no = a.account_no
		JOIN `approve` p
		ON k.klass_no = p.klass_no
		<where>
			<if test='accountNo != null'>
				AND k.account_no = #{accountNo}
				AND p.approve_code = #{approveCode}
			</if>
		</where>
	</select>
	
	<!-- review 테이블 -> 호스트 번호 기준으로 내 클래스의 review 조회  -->
	<select id="selectReviewListByHostAccountNo" resultMap="reviewMap" parameterType="klassVo">
		SELECT r.*
		FROM `review` r
		JOIN `reservation` v ON r.res_no = v.res_no
		JOIN `klass_date` d ON v.klass_date_no = d.klass_date_no
		JOIN `klass` k ON d.klass_no = k.klass_no
		WHERE k.account_no = #{accountNo};
	</select>
	
	<!-- klass_like 테이블 -> 호스트 번호 기준으로 좋아요한 클래스 조회  -->
	<select id="selectKlassLikeByHostAccountNo" resultMap="klassLikeMap" parameterType="klassVo">
		SELECT l.*, k.klass_name
		FROM `klass_like` l
		JOIN `klass` k ON l.klass_no = k.klass_no
		WHERE l.account_no = #{accountNo};
	</select>
	
	<!-- review_like 테이블 -> 호스트 번호 기준으로 좋아요한 리뷰 조회  -->
	<select id="selectReviewLikeByHostAccountNo" resultMap="reviewLikeMap" parameterType="klassVo">
		SELECT l.*, r.review_name
		FROM `review_like` l
		JOIN `review` r ON l.review_no = r.review_no
		WHERE l.account_no = #{accountNo};
	</select>
	
	
</mapper>