<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">

	<resultMap type="com.lumodiem.board.adminboard.vo.ReportKlass" id="reportMap">

		<result property="reportKlassNo" column="report_klass_no"/>
		<result property="klassNo" column="klass_no"/>
		<result property="accountNo" column="account_no"/>
		
		<result property="klassName" column="klass_name"/>
		<result property="accountNickname" column="account_nickname"/>
		<result property="klassTxt" column="klass_txt"/>
		
		
		<result property="reviewName" column="review_name"/>
		<result property="reviewTxt" column="review_txt"/>
		
		
		<result property="reportReviewNo" column="report_review_no"/>
		<result property="reportReviewCmtNo" column="report_review_cmt_no"/>
		

	</resultMap>
	
	<select id="reportReviewSelect" resultMap="reportMap">
	SELECT r.review_name
	,r.review_txt
	,a.account_nickname
	,rr.report_review_no
	FROM `report_review` rr
	JOIN `review` r
	ON rr.review_no = r.review_no
	JOIN `account` a
	ON a.account_no = rr.account_no
	</select>
	
	
	
	
	
	<delete id="deleteReportKlass" parameterType="_int" >
		DELETE FROM `klass_report`
		<where>
		 report_klass_no = #{reportKlassNo};
		 </where>
	</delete>
	<!-- <select id="reportKlassSelect" parameterType="_int" resultMap="reportMap" >
		SELECT *
		FROM klass_report
		<where>
			report_klass_no = ${reportKlassNo}
		</where>
	</select> -->
	
	<select id="reportKlassSelect"  resultMap="reportMap" >
		SELECT kr.report_klass_no 
			,k.klass_name
			,a.account_nickname
			,k.klass_txt
			FROM `klass_report` kr 
			JOIN `klass` k 
			ON kr.klass_no = k.klass_no
			JOIN `account` a
			ON a.account_no = kr. account_no


	</select>

</mapper>