<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

	<resultMap type="reviewVo" id="reviewMap">
		<result property="reviewNo" column="review_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="resNo" column="res_no"/>
		<result property="klassDateNo" column="klass_date_no"/>
		<result property="reviewTxt" column="review_txt"/>
		<result property="reviewName" column="review_name"/>
		<result property="accountNickName" column="account_nickname"/>
		<result property="reviewRegDate" column="review_reg_date"/>
		<result property="reviewModDate" column="review_mod_date"/>
		<result property="orderType" column="order_type"/>
	</resultMap>
	<resultMap type="reviewAttachVo" id="reviewAttachMap">
		<result property="attachNo" column="attach_no"/>
		<result property="attachOri" column="attach_ori"/>
		<result property="attachNew" column="attach_new"/>
		<result property="attachPath" column="attach_path"/>
	</resultMap>
	<resultMap type="reservationVo" id="reservationMap">
		<result property="resNo" column="res_no"/>
		<result property="accountNo" column="account_no"/>
		<result property="klassDataNo" column="klass_data_no"/>
		<result property="resPpl" column="res_ppl"/>
		<result property="payTime" column="pay_time"/>
		<result property="payStatus" column="pay_status"/>
		<result property="payPrice" column="pay_price"/>
	</resultMap>
	
	<insert id="reviewInsert" parameterType="reviewVo" useGeneratedKeys="true" keyProperty="reviewNo">
		INSERT INTO `review`(account_no, review_name ,review_txt ,review_reg_date ,review_mod_date)
		VALUES (#{accountNo} ,#{reviewName} ,#{reviewTxt} ,#{reviewRegDate} ,#{reviewModDate})
	</insert>
	<insert id="reviewAttachInsert" parameterType="reviewAttachVo" useGeneratedKeys="true" keyProperty="attachNo">
		INSERT INTO `review_attach`(attach_ori, attach_new ,attach_path)
		VALUES (#{attachOri} ,#{attachNew}, #{attachPath})
	</insert>
	<!-- <select id="searchResNoByAccountNo" resultMap="reservationMap" parameterType="reservationVo">
		SELECT res_no
		FROM reservation
		WHERE account_no = #{accountNo}	
	</select> -->
	<update id="reviewUpdate" parameterType="reviewVo">
		UPDATE `review`
		SET review_name = #{reviewName}
		,review_txt = #{reviewTxt}
		WHERE account_no = #{accountNo}
	</update>
	
	<select id="reviewList" resultMap="reviewMap" parameterType="reviewVo">
	SELECT r.* , a.account_nickname
	FROM `review` r
	JOIN `account` a
	ON r.account_no = a.account_no
	
	<where>
		<if test='reviewName != null and reviewName.equals("") == false'>
			AND r.review_name LIKE CONCAT('%',#{reviewName},'%')
		</if>
		<if test='reviewTxt != null and reviewTxt.equals("") == false'>
			AND r.review_txt LIKE CONCAT('%',#{reviewTxt},'%')
		</if>
		<if test='accountNickName != null and accountNickName.equals("") == false'>
			AND a.account_nickname LIKE CONCAT('%',#{accountNickName},'%')
		</if>
	</where>
	<if test='orderType != null and orderType.equals("0") == false'>
		<choose>
			<when test='orderType.equals("1") == true'>
				ORDER BY r.review_reg_date DESC
			</when>	
			<otherwise>
				ORDER BY r.review_reg_date ASC
			</otherwise>
		</choose>
	</if>
	</select>
	<select id='reviewOne' resultMap="reviewMap" parameterType="reviewVo">
		SELECT r.* ,a.account_nickname
		FROM `review` r
		JOIN `account` a
		ON r.account_no = a.account_no
		WHERE r.review_no = #{reviewNo}
	</select>
	<select id='attachOne' resultMap="reviewAttachMap" parameterType="reviewAttachVo">
		SELECT *
		FROM `review_attach`
		WHERE attach_no = #{attachNo}
	</select>
</mapper>